<div class="d-none d-md-flex align-center flex-grow-1 mr-4">
    
    <MudButton Href="/" Color="Color.Inherit" Variant="Variant.Text" Class="">Home</MudButton>
    <MudButton Href="/uploadTransactions" Color="Color.Inherit" Variant="Variant.Text" Class="">Upload Transactions</MudButton>
    <!-- <MudMenu Color="Color.Inherit" Variant="Variant.Text" Class="mx-1 px-3" PopoverClass="docs-layout-menu-shadow" ListClass="d-flex px-4 pb-2 docs-appbar-special-menu" LockScroll="true" Label="Products" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <MudList Clickable="true">
            <MudListSubheader>
                Products
            </MudListSubheader>
            <MudListItem Href="https://mudblazor.com/">
                <div class="d-flex">
                    <MudText Color="Color.Primary">MudBlazor</MudText>
                </div>
                <MudText Typo="Typo.body2">Blazor component library</MudText>
            </MudListItem>
            <MudListItem Href="https://try.mudblazor.com/">
                <div class="d-flex">
                    <MudText Color="Color.Primary">Try</MudText><MudText>MudBlazor</MudText>
                </div>
                <MudText Typo="Typo.body2">Online code editor with Blazor</MudText>
            </MudListItem>
            <MudListItem Href="https://github.com/MudBlazor/ThemeManager">
                <div class="d-flex">
                    <MudText>Theme</MudText><MudText Color="Color.Secondary">Manager</MudText>
                </div>
                <MudText Typo="Typo.body2">Manage your theme live in your app</MudText>
            </MudListItem>
            <MudListItem Href="https://github.com/MudBlazor/Templates">
                <div class="d-flex">
                    <MudText>Templates</MudText>
                </div>
                <MudText Typo="Typo.body2">Blazor templates loaded with MudBlazor</MudText>
            </MudListItem>
        </MudList>
        
    </MudMenu>
    -->
    <MudSpacer/>
   
    <MudTooltip Duration="1000" Text="GitHub Repository" ShowOnFocus="false" Class="d-inline mr-6">
        <MudIconButton Href="https://github.com/colemulligan7/" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End"/>
    </MudTooltip>
</div>
